.header {

}

.title {
  margin: 4px 0px 0px;
  color: rgb(18, 18, 18);
  font-size: 16px;
}

.user {
  color: rgb(100, 100, 100);
  font-size: 14px;
}

.reviewBody {
  margin: 12px 0px 0px;
  color: rgb(18, 18, 18);
  font-size: 16px;
  overflow-wrap: break-word;
  max-width: 740px;
}