.mainContainer {
  padding-bottom: 120px;
}

.subHeader {
  padding-top: 120px;
  padding-left: 60px;
  padding-right: 24px;
  margin: 0px auto;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(2, 108, 223);
  color: rgb(255, 255, 255);
}

.subHeaderContainer {
  padding-right: 12px;
  padding-left: 12px;
  max-width: 100%;
  display: block;
  flex: 0 0 100%;
  box-sizing: border-box;
}

.homeContainer {
  overflow: hidden;
  max-width: 100%;
}

.homeTextContainer {
  display: flex;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: 600;
}

.homeLink {
  padding-right: 4px;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.slash {
  font-size: 24px;
  font-weight: 300;
  margin-top: -12px;
}

.subTitle {
  min-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 500;
}

.subHeaderTitle {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
}

.subHeaderTitleText {
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 8px;
  line-height: 1.25;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.ticketsText {
  font-weight: 300;
}

.eventsContainer {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
  margin: 0px auto;
  max-width: 1296px;
  width: 100%;
}

.eventsTitleContainer {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  align-items: baseline;
  padding-top: 0px;
  padding-bottom: 24px;
}

.allConcertsText {
  font-size: 20px;
  font-weight: 600;
}

.filterContainer {
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: flex-end;
  display: flex;
  margin-bottom: 20px;
}

.filterBox {
  border: none;
  text-align: right;
  -webkit-box-pack: end;
  justify-content: flex-end;
  height: 100%;
  white-space: nowrap;
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px 14px;
  font-size: 16px;
  padding: 12px;
}

.filterBox:hover {
  cursor: pointer;
  border: 2px solid rgb(2, 108, 223);
}

.eventsInfoContainer {
  display: flex;
  flex: 1 1 0%;
  flex-flow: column;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.eventInfo {
  display: flex;
  flex-flow: row;
}

.eventLink {
  padding: 16px 0px;
  margin: 0px 16px 0px 0px;
  height: auto;
  max-height: 300px;
  border-left: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.eventLinkContainer {
  display: flex;
  flex: 1 1 0%;
  flex-flow: row;
}

.imageContainer {
  overflow: hidden;
  width: 82px;
  height: 46px;
  margin-right: 16px;
  padding-left: 10px;
}

.image {
  border-radius: 2px;
  margin-right: 16px;
  width: 82px;
  aspect-ratio: auto 82 / 46;
  height: 46px;
}

.dateContainer {
  flex-flow: column;
  margin-bottom: 0px;
  margin-right: 60px;
  width: 14ch;
  display: flex;
}

.date {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(144, 78, 186);
}

.time {
  line-height: 1.25;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
  font-weight: 400;
  color: rgba(38, 38, 38, 0.65);
}

.nameContainer {
  flex: 1 1 0%;
  flex-flow: row;
  display: grid;
  grid-template: "header" 1fr / 1fr;
  width: 100%;
}

.nameSubContainer {
  max-height: 600px;
  align-items: flex-start;
  display: flex;
  flex: 1 1 0%;
  flex-flow: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.nameText {
  line-height: 1.25;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 16px;
  font-weight: 600;
  color: rgb(38, 38, 38);
}

.venueText {
  line-height: 1.25;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
  font-weight: 400;
  color: rgba(38, 38, 38, 0.65);
}

.buttonContainer {
  padding-top: 16px;
  padding-right: 16px;
  flex-shrink: 0;
  display: flex;
  flex-flow: column;
}

.button {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 4px;
  max-height: 36px;
  min-width: 106px;
  display: block;
  width: 100%;
  padding: 0px 12px;
  border-radius: 2px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(2, 108, 223);
  border: 1px solid transparent;
}

.loadMoreContainer {
  padding-top: 24px;
  padding-bottom: 0px;
  width: 100%;
}

.loadMoreSubContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.loadMoreButton {
  max-width: 200px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 2.43;
  width: 100%;
  padding: 0px 12px;
  min-width: 60px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  color: rgb(2, 108, 223);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(2, 108, 223);
}

.loadMoreButton:hover {
  background-color: rgb(211, 227, 246)
}
