.footerDiv {
  padding-top: 64px;
  padding-bottom: 0px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footerContainer {
  background: rgb(31, 38, 45);
  padding: 24px;
}

.footerText {
  margin: 0px;
  padding-bottom: 4px;
  font-size: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.footerApiLink {
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}