.purchasesContainer {
  grid-template-rows: auto auto 1fr;
  grid-template-columns: minmax(56px, auto) 320px 56px minmax(0px, 50rem) minmax(56px, auto);
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  position: relative;
  z-index: 0;
  display: grid;
  background-color: rgb(246, 246, 246);
}

.headerContainer {
  z-index: -1;
  grid-area: 1 / 1 / 2 / -1;
  background-color: rgb(2, 77, 223);
  width: 100%;
  height: 100%;
}

.welcomeBackContainer {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 2 / 3;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-top: 24px;
  padding: 32px;
  background-color: rgba(255, 255, 255, 0.1);
}

.welcomeBackContent {
  margin-top: 32px;
  color: rgb(255, 255, 255);
}

.welcomeBackP {
  margin: 0px 0px 1em;
}

.welcomeBackSpan {
  color: rgb(235, 235, 235);
}

.name {
  display: block;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
}

.sidebarContainer {
  display: block;
  grid-area: 2 / 2 / -1 / 3;
  padding-bottom: 88px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(18, 18, 18, 0.18) 0px 3px 12px 0px;
}

.navContainer {
  padding: 16px;
}

.linkContainer {
  border-bottom: 1px solid #ebebeb;
}

.linkContainer:hover {
  background-color: rgb(246, 246, 246);
}

.linkButton {
  margin: initial;
  border: 0px;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  text-transform: inherit;
  background-color: transparent;
  padding: 16px 64px;
  position: relative;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.iconContainer {
  position: absolute;
  top: 16px;
  left: 24px;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  flex-shrink: 0;
  vertical-align: middle;
  transition: transform 0.2s ease-out 0s;
  fill: currentcolor;
}

.myTicketsText {
  display: block;
  font-weight: bold;
  line-height: 1.5;
}

.signout {
  color: rgb(235, 0, 0);
}

.headerSubContainer {
  position: static;
  grid-column: 4 / 5;
  z-index: -1;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 4 / 2 / -1;
  padding-top: 24px;
}

.headerContent {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100%;
  padding-left: 16px;
  color: rgb(255, 255, 255);
}

.homeNavContainer {

}

.navOL {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 1;
}

.navLI {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.navlink {
  display: inline-block;
  padding: 4px 0px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.slash {
  padding-left: 3px;
  padding-right: 3px;
}

.myTicketsTitle {
  font-weight: bold;
}

.eventsContainer {
  grid-area: 3 / 4 / -1 / 5;
  padding-bottom: 88px;
}

.eventsContent {

}

.eventsUL {
  margin-top: -16px;
  padding: 0px 0px 0px 24px;
  list-style: none;
}

.eventLI {
  position: relative;
  padding: 16px 24px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(18, 18, 18, 0.18) 0px 3px 12px 0px;
  margin-bottom: 24px;
}

.eventLI:before {
  left: -29px;
  position: absolute;
  top: 36px;
  left: -21px;
  display: block;
  width: 2px;
  height: calc(100% - 8px);
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: rgb(191, 191, 191);
  content: "";
}

.eventLI:after {
  left: -32px;
  position: absolute;
  top: 24px;
  left: -24px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(100, 100, 100);
  content: "";
}