.modalContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  background: rgba(0,0,0,.75);
}

.headerContainer {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  text-align: left;
  box-shadow: none;
  padding: 0 !important;
  background-color: rgb(255, 255, 255);
  white-space: normal;
}

.titleContainer {
  position: relative;
  background-color: #026cdf;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  color: rgb(255, 255, 255);
}

.titleText {
  padding: 8px 56px 8px 56px;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  margin: 0;
  font-weight: 400;
}

.close {
  background-color: #026cdf;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 0 0;
  padding-right: 10px;
  text-align: center;
  justify-content: center;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 100%;
  display: inline-block;
  font-size: 44px;
}

.textContainer {
  font-size: 1.2rem;
  font-weight: normal;
  padding: 20px;
  color: #262626;
  background-color: #fff;
  max-height: 60vh;
  overflow-y: auto;
}

.confirmButtonContainer {
  display: flex;
  padding: 0px 20px 20px 20px;
}

.button {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 36px;
  margin-bottom: 4px;
  max-height: 36px;
  min-width: 106px;
  display: block;
  width: 100%;
  padding: 0px 12px;
  border-radius: 2px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(235, 0, 0);
  border: 1px solid transparent;
}

